<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navyabhaskar.test2_062916">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="DiaTrack"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".firstScreen"
            android:label="DiaTrack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".personal_details"
            android:label="DiaTrack UserInfo" />
        <activity
            android:name=".ackDetails"
            android:label="DiaTrack - Username" />
        <activity
            android:name=".details"
            android:label="DiaTrack - Home" />
        <activity
            android:name=".Glucose_Measure"
            android:label="DiaTrack - Glucose Level" />
        <activity
            android:name=".daily_diet"
            android:label="DiaTrack - Calories">
        </activity>
        <activity android:name=".sample" />
        <activity
            android:name=".login"
            android:label="DiaTrack - Login" />
        <activity
            android:name=".Exercise"
            android:label="DiaTrack - Exercise"></activity>
        <activity android:name=".Medication">
                  android:label='DiaTrack - Medication"
        </activity>
        <activity
            android:name=".regimen"
            android:label="DiaTrack - Regimen">
        </activity>
        <activity android:name=".Stats"
                  android:label="DiaTrack - Stats">

        </activity>
    </application>

</manifest>